html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

.App table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.App thead {
  height: auto;
}

.App tbody {
  height: 100%;
}

.App tbody tr {
  height: 100%;
}

.App tbody td {
  height: 100%;
  vertical-align: top;
  text-align: center;
  padding: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
  overflow-x: hidden;
}